<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nick.rapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity
            android:name=".loginController"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".questionsController" />
        <activity android:name=".doneController" />
        <activity android:name=".AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light"/>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".proceedController" />
        <activity android:name=".instructionController" />
        <activity android:name=".selectionController" />
        <activity android:name=".adminViewController" />
        <activity android:name=".userSetupController" />
        <activity android:name=".classSetupController" />
        <activity android:name=".settingsController" />
        <activity android:name=".testSetupController" />
        <activity android:name=".resultsSetupController" />
        <activity android:name=".testsController" />
        <activity android:name=".addTestController" />
        <activity android:name=".editTestsController" />
        <activity android:name=".editPracticeItemsController" />
        <activity android:name=".exportResultsController" />
        <activity android:name=".viewResultsController"></activity>



    </application>

</manifest>